
.theList li {
    color: #333;
    background-color: rgba(138,222,241,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
  }
  ul.theList {
    padding: 0;
  }

 .theList li:hover {
    background-color: pink;
    cursor: pointer;
  }
  .map{
   weight:50%;
   height:80%; 
  }
  @media (min-width:320px)  { 
    .map{
      weight: 50% !important;;
      height: 80% !important;; 
    }
    /* smartphones, iPhone, portrait 480x320 phones */ }
  .theListFront{
    z-index: 1;
  }
  
  @media (min-width: 768px){
  .col-md-6 {
    height: 580px;
  }
  }
  